curl_cffi>=0.15.0
pyotp>=2.9.0
flask>=3.0.0
requests>=2.31.0
pycryptodome>=3.23.0
selenium>=4.20.0

cryptography>=41
cloakbrowser[geoip]>=0.4.10
# Chromix 仅 Windows x64 正式包：pip install chromix
camoufox[geoip]
playwright>=1.49.0
python-dotenv>=1.0.0
playwright-stealth>=2.0.3
